
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-12">
            <div class="text-center text-xl-center text-muted">
               &copy; <a target="_blank" 
                         href="https://github.com/daovietanh190499">daovietanh190499</a> 
               - coded by <a target="_blank" href="https://vkist.gov.vn">VKIST</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
