{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Trang chủ</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Trang chủ</li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Tổng số người</h5>
                      <span class="h2 font-weight-bold mb-0" id="number_of_people">--</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-single-02"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Điểm danh hôm nay</h5>
                      <span class="h2 font-weight-bold mb-0 text-success" id="number_of_current_checkin">--</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Chưa điểm danh</h5>
                      <span class="h2 font-weight-bold mb-0 text-danger" id="not_checkin">--</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-gray text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Trạng thái kết nối</h5>
                      <span class="h2 font-weight-bold mb-0 text-success" id="connection_status">Tốt</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Nhận diện</h6>
                    <h5 class="h3 mb-0">Thời gian thực</h5>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Ảnh mặt</th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Tên</th>
                      </tr>
                    </thead>
                    <tbody id="timeline">
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Danh sách</h6>
                  <h3 class="mb-0">Người lạ</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Ảnh mặt</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody id="strangers">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
        </div>
        <div class="col-xl-6">
        </div>
      </div>

      <div class="modal fade show" id="new-person" tabindex="-1" role="dialog" aria-labelledby="new-person-label" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-secondary" role="document">
          <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
              <div class="avatar-group" id="new-avatar" style="justify-content: center; align-items: center; display: flex;">
              </div>
              <form class="new-event--form">
                <div class="form-group">
                  <div class="custom-control custom-radio mb-3">
                    <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio" value='add' checked>
                    <label class="custom-control-label" for="customRadio5">Thêm người mới</label>
                  </div>
                  <input type="text" class="form-control form-control-alternative new-event--title" placeholder="Nhập tên người" id='new_name'>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-radio mb-3">
                    <input name="custom-radio-1" class="custom-control-input" id="customRadio6" type="radio" value='append'>
                    <label class="custom-control-label" for="customRadio6">Thay đổi cho người đã đăng ký</label>
                  </div>
                </div>
                <select class="form-control" id="children_id" disabled>
                </select>
              </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id='new-footer'>
              <button type="submit" class="btn btn-primary new-event--add">Thêm người</button>
              <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
